* {
  margin: 0px;
  padding: 0px;
}
html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 62.5%;
}

body {
  font-family: helvetica, Arial, Georgia, Tahoma;
  font-size: 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  
}

.upper-nav-container {
  display: flex;
  flex-direction: row;
  background-color: #007aff;
}

.upper-nav-item {
  padding: 1rem;
  flex: 1;
  justify-content: center;
  justify-self: center;
}

.upper-nav-item-middle {
  background-color: #ffffff;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem 5rem;
  gap: 5rem;
}

.nav-section {
  display: flex;
  flex-direction: row;
}

.nav-links {
  display: flex;
  list-style: none;
  align-content: center;
  padding: 0;
  margin: 0;
}

.nav-links li a {
  padding: 4rem 1.5rem;
  text-decoration: none;
  color: #007aff;
}

.nav-links li a:hover {
  transform: scale(1.2);
  background-color: #007aff;
  color: white;
}

.video-container{
 width: 100%;
 height: 500px;
 aspect-ratio: 16/9;
 
}

.video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* e-book-css */
.e-book-container{
  background-color: white;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items:center;
  padding: 5%;
}
.e-book-container img{
  height: 70vh;
  border-radius: 25px;
}

.e-book-paragraph{
  padding: 5%;
  font-weight: 100;
  font-size: 18px;
  line-height: -6.5px;
}
.e-book-info > h4{
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 40px;
  font-size: 24px;
}
/* learning-css */
.Learning-container{
  background-color:#007aff;
  padding: 5%;
  display: flex;
  justify-content: space-between; 
  align-items: center;
}
.learning-description{
  width: 45%;
}
.learning-description h4{
  color: #ffffff;
  font-size: 24px;
  text-align: left;
  width: 300px;
  margin-bottom: 20px;
}
.learning-description .learning-list{
  color: #ffffff;
}
.Learning-container >.learning-image >img{
  height: 50vh;
  border-radius: 25px;
}
/* brief-css */
.brief-container{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: #ffffff;
  width: 100%;
  padding: 20px;
}
.brief-container .brief-container-header{
  font-size: 5.5rem;
  margin-bottom: 50px;
}
.brief-container .brief-content{
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  width: 100%;
}
.brief-container .brief-content .w-u-c{
  width: 25%;
}
.w-u-c .title{
  color: #007aff;
  margin-bottom: 25px;
  font-size: 25px;
}
.w-u-c .description{
  font-size: 15px;
  line-height: 2.5rem;
  color: rgb(85, 83, 83)
}

/* footer-css */
.footer {
  height: 40vh;
  width: 100vw;
  background-color: rgba(0, 122, 255, 0.65);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 35px;
}

.footer > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
}

.footer > div > h4 {
  margin-bottom: 5px;
  text-decoration: underline;
  color: #fff;
}

.footer a {
  color: white;
}

.company,
.help,
.shop,
.social {
  height: 30vh;
  flex-grow: 1;
}

.company nav ul li,
.help nav ul li,
.shop nav ul li,
.social nav ul li {
  list-style: none;
}

.company nav ul li a,
.help nav ul li a,
.shop nav ul li a,
.social nav ul li a {
  text-decoration: none;
}

